body {
    background-color: #EFEFEF;
}

.reveal.slide {
    background-image: url("../images/onepoint-white.png"), url("../images/gdg-dijon.png"), url("../images/background.png");
    background-size: 200px, 150px, cover;
    background-position:  bottom center, top left, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    color: #D50880;
}

.entrypoint, .sponso {
    #background-image: url("../images/intro-volcamp.png");
    #background-size: cover;
    padding: 0 !important;
}

.sponso *{
    display: none;
    opacity: 0 !important;
}

.entrypoint h1 {
    display: none;
    opacity: 0 !important;
}

.entrypoint .yann-intro {
    text-align: left;
}

.entrypoint .yann-intro-title {
    margin-top: 100px;
    font-weight: bold;
}


.entrypoint .yann-intro-event {
    margin-top: 100px;
    font-size: smaller;
}

.sponso {
    background-image: url("../images/sponsors.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.reveal section img {
    padding: 25px;
    background: white;
    border: none;
    box-shadow: none;
}

.reveal section.no-img-background img {
    padding: 25px;
    background: none;
    border: none;
    box-shadow: none;
}

.reveal h2, .reveal h3 {
    text-transform: none;
    color: #D50880;
}

.reveal h3 {
    font-size: 1.0em;
}

code {
    font-size: 0.7em;
}

.reveal .controls {
    color: #EFEFEF;
}

.reveal .progress {
    color: #EFEFEF;
}
