.reveal {
    background-color: whitesmoke;
    background-image: url("../images/nantes.png"), url("../images/afup.png"), url("../images/onepoint_black.png");
    background-position: bottom, top right, bottom left;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto, 80px, 200px;
    color: #4F5B93;
}

.reveal section img {
    border: none;
    box-shadow: none;
    background: none;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: #4F5B93;
    text-transform: none;
}
