body {
    background-color: #FFFFFF;
}

.reveal.slide {
    background-image: url("../images/onepoint-white.png"), url("../images/snowcamp.png"), url("../images/background.png");
    background-size: 200px, 200px, cover;
    background-position:  bottom center, top left, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    color: #393249;
}

.entrypoint, .sponso {
    #background-image: url("../images/intro-volcamp.png");
    #background-size: cover;
    padding: 0 !important;
}

.sponso *{
    display: none;
    opacity: 0 !important;
}

.sponso {
    background-image: url("../images/sponsors.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.reveal section img {
    padding: 25px;
    background: white;
    border: none;
    box-shadow: none;
}

.reveal section.no-img-background img {
    padding: 25px;
    background: none;
    border: none;
    box-shadow: none;
}

.reveal h2, .reveal h3 {
    text-transform: none;
    color: #393249;
}

.reveal h3 {
    font-size: 1.0em;
}

code {
    font-size: 0.7em;
}

.reveal .controls {
    color: #FFFFFF;
}

.reveal .progress {
    color: #FFFFFF;
}


/* First page design */

.entrypoint h1 {
    display: none;
    opacity: 0 !important;
}

.entrypoint .tableblock td:first-child {
    border-right: 1px solid;
}

.entrypoint .yann-intro, .entrypoint .yann-name, .entrypoint .yann-role {
    text-align: center;
}

.entrypoint .yann-name {
    font-size: smaller;
    margin-top: -50px;
}

.entrypoint .yann-role {
    font-size: x-large;
}

.entrypoint .imageblock.yann-intro img {
    text-align: center;
    width: 70%;
    border-radius: 50%;
}

.entrypoint .yann-intro-title {
    margin-top: 100px;
    font-weight: bold;
}


.entrypoint .yann-intro-event {
    margin-top: 100px;
    font-size: smaller;
}

/* End of first page desing */
